.content {
  min-width: 0;
}
.profileSection {
  min-width: 0;
}
.contentSection {
  min-width: 0;
}
@media (min-width: $mantine-breakpoint-md) {
  .profileSection {
    grid-column: 1;
  }
  .contentSection {
    grid-column: 2 / 4;
  }
}
@media (max-width: $mantine-breakpoint-md) {
  .profileSection {
    display: none;
  }
}

.profileCard {
  position: sticky;
  top: var(--mantine-spacing-lg);
  background: var(--mantine-color-body);
}
