.container {
  min-height: calc(100vh - 80px);
}

.headerSection {
  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.content {
  @media (max-width: $mantine-breakpoint-md) {
    grid-template-columns: 1fr !important;
    gap: 1.5rem !important;
  }
}

.profileSection {
  @media (min-width: $mantine-breakpoint-md) {
    grid-column: 1;
  }

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.contentSection {
  @media (min-width: $mantine-breakpoint-md) {
    grid-column: 2 / 4;
  }
}

.profileCard {
  position: sticky;
  top: 2rem;
  background: white;
  
  @media (max-width: $mantine-breakpoint-md) {
    position: static;
    margin-bottom: 1rem;
  }
}