.inner {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--mantine-spacing-xl) * 4);
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);

  @media (max-width: $mantine-breakpoint-md) {
    padding-top: calc(var(--mantine-spacing-xl) * 1.5);
    padding-bottom: calc(var(--mantine-spacing-xl) * 1.5);
  }
}

.content {
  max-width: rem(480px);
  margin-right: calc(var(--mantine-spacing-xl) * 3);

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    margin-right: 0;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(44px);
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(28px);
  }
}

.control {
  @media (max-width: $mantine-breakpoint-xs) {
    flex: 1;
  }
}

.image {
  width: rem(376px);
  height: rem(356px);

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.description_list {
  max-width: rem(600px);
  margin: auto;

  &::after {
    content: "";
    display: block;
    background-color: var(--mantine-color-blue-filled);
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
  }
}

.sectionTitle {
  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(20px);
  }
}

.heroDescription {
  @media (max-width: $mantine-breakpoint-md) {
    font-size: var(--mantine-font-size-sm);
  }
}

.sectionDescription {
  @media (max-width: $mantine-breakpoint-md) {
    font-size: var(--mantine-font-size-sm);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loginPrompt {
  font-size: var(--mantine-font-size-lg);

  @media (max-width: $mantine-breakpoint-md) {
    font-size: var(--mantine-font-size-md);
  }
}
