.tab {
  width: 100%;
}

.tabsList {
  flex-wrap: wrap;
  gap: var(--mantine-spacing-xs);
  
  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    
    & > * {
      flex: 1;
    }
  }
}
