.carousel-container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;

  @media (max-width: $mantine-breakpoint-sm) {
    max-width: 100%;
    padding: 0;
  }
}

.carousel-control {
  background-color: var(--mantine-color-blue-3);
  opacity: 50%;

  @media (max-width: $mantine-breakpoint-sm) {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
  }
}

.carousel-control:hover {
  background-color: var(--mantine-color-blue-6);
  opacity: 100%;
}

.carousel-indicator {
  background-color: var(--mantine-color-blue-3);
  opacity: 75%;
}

.carousel-indicator[data-active] {
  background-color: var(--mantine-color-blue-6);
  opacity: 75%;
}

.carousel-image {
  height: 700px;
  object-fit: contain;

  @media (max-width: $mantine-breakpoint-sm) {
    height: auto;
    aspect-ratio: 4 / 5;
    object-fit: contain;
    width: 100%;
  }
}

.carousel-slide {
  @media (max-width: $mantine-breakpoint-sm) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header {
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
  }
}

.title {
  width: 75%;

  @media (max-width: $mantine-breakpoint-md) {
    width: 100%;
  }
}

.control {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  width: 25%;

  @media (max-width: $mantine-breakpoint-md) {
    width: 100%;
  }
}

.section {
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding-left: var(--mantine-spacing-lg);
  padding-right: var(--mantine-spacing-lg);
  margin-top: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-sm);
}

.label {
  text-transform: uppercase;
  font-size: var(--mantine-font-size-xs);
  font-weight: 700;
}

.main-stack {
  margin-top: var(--mantine-spacing-xl);

  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-sm);
  }
}