.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--mantine-spacing-md);
}

.grid > * {
  width: 100%;
  min-width: 0;
}

.homeGrid {
  margin-top: var(--mantine-spacing-xl);
}

@media (min-width: $mantine-breakpoint-sm) {
  .grid > * {
    width: calc(50% - var(--mantine-spacing-md) / 2);
    max-width: rem(360px);
  }
}

@media (min-width: $mantine-breakpoint-md) {
  .grid > * {
    width: calc(33.333% - var(--mantine-spacing-md) * 2 / 3);
    max-width: none;
  }
}

@media (min-width: $mantine-breakpoint-lg) {
  .grid > * {
    width: calc(25% - var(--mantine-spacing-md) * 3 / 4);
  }
}
