.card {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
}

.section {
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-sm);
}

.label {
  text-transform: uppercase;
  font-size: var(--mantine-font-size-md);
  font-weight: 700;
  letter-spacing: 0.02em;
}
